@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --weg-blue: '#00579D';
  --weg-dark: '#003F7D';
  --weg-light: '#EAF4FF';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
}

body {
  font-family: Inter, Arial, sans-serif
}