@import "tailwindcss";

:root {
  --weg-blue: '#00579D';
  --weg-dark: '#003F7D';
  --weg-light: '#EAF4FF';
}

@theme inline {
  --font-sans: var(--font-sans);
  --weg-blue: var(--blue);
  --weg-dark: var(--dark);
  --weg-light: var(--foreground);
}

body {
  font-family: Inter, Arial, sans-serif
}